@import "colors";

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  padding: 3rem;
  margin: 1rem;
  background-color: $secondarydark;
  width: 200px;
  border-radius: 5px;
  transition: transform 0.3s;
  > p {
    text-align: center;
  }
  > img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 5px;
  }
  &:hover {
    transform: scale(1.1);
  }
  > button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 5px 5px 0 $primary;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 0 $primary;
      background-color: $primary;
      color: $tertiary;
      transform: translateX(4px) translateY(4px);
    }
  }
}
